.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-size: cover;
  background: rgb(2,0,36);
  background: radial-gradient(rgba(2,0,36,1) 40%, rgba(66,118,168,1) 20%, rgba(0,212,255,1) 80%);
  /* background-image: url("fellowship.jpeg");  background-color: #cccccc; */
 }

 .listaPer {
  height:auto;
  background: #A5E2E9; 
  border-radius: 5px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
